body {
    background-color: aqua;
}
h1 {
    color: azure;
}
p {
    color: blueviolet;
}
.G {
    color:rgb(240, 90, 190)
}
img {
    width: auto;
    height: 200px;
}
ol {
    text-align: center;
}